:root {
    box-sizing: border-box;
    font-size: 1em;
    --default-margin: 1.5em;
    --default-bg-color: #eeeeee;
    --default-bd-color: #cccccc;
    --default-pm-color: #ff3d50;
    --default-sc-color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}


/*
Media 
Displays an image on the left and body content on the right.

Markup: 
<div class="media">
    <img class="media__image" src="http://placehold.it/150x150" />
    <div class="media__body">
        <h4>Strength</h4>
        <p>
            Strength training is an important part of
            injury prevention. Focus on your core&mdash;
            especially your abs and glutes.
        </p>
    </div>
</div>

Styleguide Media 
*/
.media {
    display: flex;
    align-items: flex-start;
    padding: 1.5em;
    background-color: #eee;
    border-radius: 0.5em;
}

.media>*+* {
    margin-left: 1.5em;
}

.media__body {
    margin-top: 0;
}

.media__body>h4 {
    margin-top: 0;
}

.media::after {
    content: "";
    display: block;
    clear: both;
}

.media__image {
    float: left;
    margin-right: 1.5em;
}

.media__body {
    margin-top: 0;
}

.media__body>h4 {
    margin-top: 0;
}

/*
Buttons are available in a number of sizes and colors. You may mix and match any size with any color.

Markup:
<button class="button {{modifier_class}}"> 
 click here
</button>

.button--success - A green success button 
.button--danger - A red danger button 
.button--small - A small button 
.button--large - A large button 

Styleguide Buttons
*/
.button {
    padding: 1em 1.25em;
    border: 1px solid #265559;
    border-radius: 0.2em;
    background-color: transparent;
    font-size: 0.8rem;
    color: #333;
    font-weight: bold;
}

.button--success {
    border-color: #cfe8c9;
    color: #fff;
    background-color: #2f5926;
}

.button--danger {
    border-color: #e8c9c9;
    color: #fff;
    background-color: #a92323;
}

.button--small {
    font-size: 0.8rem;
}

.button--large {
    font-size: 1.2rem;
}

/*
Messages are available in a number of and colors to convay meaning. 

Markup:
<div class="message {{modifier_class}}">Some message</div>

.message--success - A success message 
.message--warning - A warning message
.message--error - A error message

Styleguide Message
*/

.message {
    padding: 0.8em 1.2em;
    border-radius: 0.2em;
    border: 1px solid #265559;
    color: #265559;
    background-color: #e0f0f2;
    position: relative;
}

.message--success {
    color: #2f5926;
    border-color: #2f5926;
    background-color: #cfe8c9;
}

.message--warning {
    color: #594826;
    border-color: #594826;
    background-color: #e8dec9;
}

.message--error {
    color: #59262f;
    border-color: #59262f;
    background-color: #e8c9cf;
}


/*
A Dropdown menu. Clicking the toggle button opens and closes the drawer. Use JavaScript to toggle the `is-open` class in order to open and close the dropdown.

Markup:
<div class="dropdown">
    <button type="button" class="dropdown__toggle">Main Menu</button>
    <div class="dropdown__drawer">
        <ul class="menu">
            <li class="menu__item"><a href="#">Home</a></li>
            <li class="menu__item"><a href="#">Coffees</a></li>
            <li class="menu__item"><a href="#">Brewers</a></li>
            <li class="menu__item"><a href="#">Specials</a></li>
            <li class="menu__item"><a href="#">About us</a></li>
        </ul>
    </div>
</div>

Styleguide Dropdown
*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__toggle {
    padding: 0.5em 2em 0.5em 1.5em;
    border: 1px solid var(--default-bd-color);
    font-size: 1rem;
    background-color: var(--default-bg-color);
}

.dropdown__toggle::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0.3em solid;
    border-color: black transparent transparent;
}

.dropdown__drawer {
    display: none;
    position: absolute;
    width: 100%;
    background-color: var(--default-bg-color);
}

.menu {
    margin: 0;
    padding-left: 0;
    list-style: none;
    border: 1px solid var(--default-bd-color);
}

.menu__item+.menu__item {
    border-top: 1px solid var(--default-bd-color);
    margin-top: 0px;
}

.menu__item>a {
    display: block;
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #369;
    background-color: var(--default-bg-color);
}

.menu__item>a:hover {
    background-color: var(--default-sc-color);
}


.dropdown.is-open .dropdown__toggle::after {
    top: 0.7em;
    border-color: transparent transparent black;
}

.dropdown.is-open .dropdown__drawer {
    display: block;
}